<!DOCTYPE html>
<html>
<head>
<title>Extraction Success</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<div class="card" style="text-align:center;">

<h2>🔓 File Extracted Successfully</h2>

<p>Your hidden file has been decrypted successfully.</p>

<br>

<a href="/download_recovered">
<button>Download Recovered File</button>
</a>

<br><br>

<a href="/" class="back-btn">⬅ Back to Home</a>

</div>

</div>

</body>
</html>
